<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="UTF-8">
	<title>Anyway.FM 设计杂谈 • UI 设计师 JJ 和 Leon 主播的设计播客 Podcast</title>

	<meta name="description" content="线下活动" />
	<meta name="author" content="JJ Ying" />

	<!-- <link rel="shortcut icon" href="assets/favicon.png" /> -->
	<link rel="stylesheet" href="assets/styles.css" />

	<meta property="og:url" content="https://Anyway.FM">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{pagetitle}Anyway.FM 设计杂谈">
	<meta property="og:description" content="{pagedesc}">
	<meta property="og:image" content="{episodecover}">

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:description" content="{pagedesc}" />
	<meta name="twitter:title" content="{pagetitle}Anyway.FM 设计杂谈" />
	<meta name="twitter:site" content="@anyway__fm" />
	<meta name="twitter:image" content="{episodecover}" />

	<script src="assets/vue.js"></script>
	<!-- <script src="assets/in-view.min.js"></script> -->

</head>
<body>
	<div class="wrapper" :class=" [scrollDirection > 0 ? 'scroll-down':'scroll-up' , windowWidth>windowHeight?'layout-landscape':'layout-portrait', 'stage-'+stage]">
		<header  v-if="stage < 3" class="full">
			<div class="full wall" :style="{transform: 'scale(' + ((headerScaleRatio - 1)*0.2+1) + ') translateX(' + tvOffsetX +'px) translateY(' + tvOffsetY +'px)'}" ></div>
			<div class="tv" :style="{
				transform: 'translateX(' + ( windowWidth / 2 + tvOffsetX ) +'px) scale(' + headerScaleRatio + ') translateY(' + tvOffsetY +'px)'
				}">
				<div class="inner"></div>
			</div>
		</header>

		<div class="full opening">
			<div v-for="n in 7" class="full" :class="['op-bg-' + n, opBgNum == n ? 'current':'']" :style="{backgroundImage: 'url(assets/op-bg-' + n + '.jpg)' }"></div>
			<div class="full op-logo"></div>
		</div>

		<div class="full main" :style="{backgroundColor: '#'+mainBgColor}">
			<div class="full section" v-for="n in 5" :class="'s-'+n">
				<div class="inner"  :class=" mainScroll > (n-1) * ( mainScrollPageH + mainScrollGap ) && mainScroll < n * mainScrollPageH + ( n - 1) * mainScrollGap ? 'in':'' ">
					<img :src="'assets/s-'+n+'.png'"/>
				</div>
			</div>
		</div>
	</div>
	<script src="assets/main.js"></script>
</body>
</html>
