@charset "utf-8";
/*Designed by JJ Ying
http://IconMoon.com*/
*{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
body{
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Anyway Type', 'Myriad Pro', 'PingFang SC', 'Microsoft YaHei', sans-serif;
	text-align: left;
	color: #333;
	line-height: 1;
	background: #000;
}
.wrapper{
	height: 1300vh;
}
.full{
	top: 0; left: 0;
	width: 100vw; height: 100vh;
	background-size: cover;
	background-position: center center;
	position: fixed;
	background-repeat: no-repeat;
}
/* ~Header */
header{
	z-index: 10
}
.stage-2 header{
	animation: fade-out .2s ease-out .2s both;
}
@keyframes fade-out {
	0%{opacity: 1;}
	100%{opacity: 0;pointer-events: none;}
}
.scroll-up.stage-2 header{
	visibility: hidden;
}
.scroll-up.stage-1 header{
	/* animation: fade-in .2s ease-in both; */
}
@keyframes fade-in {
	0%{opacity: 0;}
	100%{opacity: 1;pointer-events: auto;}
}
header > .inner{
	width: 100%; height: 100%;
	position: relative;
}
.wall{
	background-image: url('header-bg.jpg');
	transition: all .1s ease-out;
}
.tv{
	position: fixed;
	background: url('screen.gif') no-repeat center bottom;
	background-size: contain;
	height: 100vh;
	width: 70vw;
	bottom: 0;
	/* right: 0; */
	left: 0;
	transition: all .1s ease-out;
}
.portrait .tv{
	width: 100vw;
}
.stage-2 .tv{
	background-color: #000;
}
.tv > .inner{
	width: 100%;
	height: 100%;
	background: url('tv.png') no-repeat center bottom;
	background-size: contain;
}
.logo{
	position: absolute;
	top: 5vh; left: 10vw;
	max-width: 30vw; max-height: 20vh
}
.portrait .logo{
	width: 80vw; height: auto;
	max-width: unset; max-height: unset;
}
.logo img{
	max-width: 100%;
}
/* ~Opening */
.opening{
	background-image: url(op-bg-1.jpg);
	background-color: #000;
	z-index: 8;
}
.stage-2 .opening{
	/* animation: fade-in .2s ease-out both; */
}
.opening > div{
	opacity: 0;
	transition: opacity .12s ease-out;
}
.opening > div.current{
	opacity: 1;
}
.opening .op-logo{
	background-image: url(op-logo.png);
	z-index: 9;
	opacity: 1;
	/* animation: shaking 1s steps(8, start) infinite; */
}
/* ~Main */
.main{
	background-image: url(main-bg.gif);
	opacity: 0;
	transition: opacity .12s ease-out;
	z-index: 20;
	background-blend-mode: overlay;
	transition: all .15s ease-out;
}
.stage-3 .main{
	opacity: 1;
}
.section > .inner{
	width: 100%;
	height: 100%;
	position: relative;
	animation: shaking 1s steps(8, start) infinite;
}
@keyframes shaking {
	0%{transform: translate(-.5px,.5px) scale(1);}
	20%{transform: translate(.5px,.5px)scale(0.996);}
	40%{transform: translate(.5px,-.5px)scale(1);}
	60%{transform: translate(-.5px,0)scale(0.998);}
	80%{transform: translate(.5px,.5px)scale(1.003);}
	100%{transform: translate(-.5px,.5px)scale(1);}
}
.section img{
	display: block;
	vertical-align: middle;
	transition: transform .3s ease-out;
}
/* ~S1 */
.s-1 > .inner{
	text-align: center;
}
.s-1 img{
	height: 100%;
	transform:  scale(0);
	margin: 0 auto;
}
.s-1 .in img{
	transform:  scale(1.05);
}
/* ~S2 */
.s-2 > .inner{
	text-align: center;
}
.s-2 img{
	height: 100%;
	transform: translateX(100vw) scale(1.05);
	margin: 0 auto;
}
.s-2 .in img{
	transform:  scale(1.05);
}
/* ~S3 */
.s-3 > .inner{
}
.s-3 img{
	height: 100%;
	transform: translateX(-200vw) scale(1.05);
	left: 0; top: 0;
	position: absolute;
}
.s-3 .in img{
	transform: scale(1.05);
}
/* ~S4 */
.s-4 > .inner{
	/* text-align: right; */
}
.s-4 img{
	height: 100%;
	transform: translateX(100vw) scale(1.03);
	right: 0; bottom: 0;
	position: absolute;
}
.s-4 .in img{
	transform: scale(1.03);
}
/* ~S5 */
.s-5 > .inner{
	text-align: right;
}
.s-5 img{
	width: 100%;
	position: absolute;
	bottom: 0; right: 0;
	transform: translateY(200vh) scale(1.05);
}
.s-5 .in img{
	transform: scale(1.05);
}
/* ~Mute */
.mute-btn{
	position: fixed;
	right: 2rem; top:2rem;
	z-index: 30;
	transition: all .1s ease-in-out;
	opacity: .4
}
.stage-2 .mute-btn{
	filter: grayscale(1) brightness(2);
	opacity: .3;
}
.stage-3 .mute-btn{
	filter: grayscale(1) brightness(.2);
	opacity: 1;
}
.mute-btn a{
	display: block;
	width: 2rem; height: 2rem;
	background: url(unmute.png);
	background-size: contain;
}
.muted a{
	background-image: url(mute.png);
}
/* ~Indicator */
