@charset "utf-8";
/*Designed by JJ Ying
http://IconMoon.com*/
*{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
body{
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Anyway Type', 'Myriad Pro', 'PingFang SC', 'Microsoft YaHei', sans-serif;
	text-align: left;
	color: #333;
	line-height: 1;
}
.wrapper{
	height: 1300vh;
}
.full{
	top: 0; left: 0;
	width: 100vw; height: 100vh;
	background-size: cover;
	background-position: center center;
	position: fixed;
	background-repeat: no-repeat;
}
/* ~Header */
header{
	background: #a66048 url('header.jpg') no-repeat center center;
	transition: all .1s ease-out;
	z-index: 10
}
.stage-2 header{
	animation: fade-out .2s ease-out .2s both;
}
@keyframes fade-out {
	0%{opacity: 1;}
	100%{opacity: 0;pointer-events: none;}
}
.scroll-up.stage-2 header{
	visibility: hidden;
}
.scroll-up.stage-1 header{
	animation: fade-in .2s ease-in both;
}
@keyframes fade-in {
	0%{opacity: 0;}
	100%{opacity: 1;pointer-events: auto;}
}
.opening{
	background-image: url(op-bg-1.jpg);
	z-index: 8;
}
.opening > div{
	opacity: 0;
	transition: opacity .12s ease-out;
}
.opening > div.current{
	opacity: 1;
}
.opening .op-logo{
	background-image: url(op-logo.png);
	z-index: 9;
	opacity: 1;
}
/* ~Main */
.main{
	background-image: url(main-bg.gif);
	opacity: 0;
	transition: opacity .12s ease-out;
	z-index: 20;
	background-blend-mode: overlay;
	transition: all .15s ease-out;
}
.stage-3 .main{
	opacity: 1;
}
.section > .inner{
	width: 100%;
	height: 100%;
	position: relative;
	animation: shaking 1s steps(8, start) infinite;
}
@keyframes shaking {
	0%{transform: translate(-1px,1px) scale(1.005);}
	20%{transform: translate(1px,1px)scale(0.995);}
	40%{transform: translate(1px,-1px)scale(1);}
	60%{transform: translate(-1px,.5px)scale(0.995);}
	80%{transform: translate(1px,-.5px)scale(1.005);}
	100%{transform: translate(-1px,1px)scale(1);}
}
.section img{
	display: block;
	vertical-align: middle;
	transition: transform .3s ease-out;
}
/* ~S1 */
.s-1 > .inner{
	text-align: center;
}
.s-1 img{
	height: 100%;
	transform: translateX(100vw) scale(1.05);
	margin: 0 auto;
}
.s-1 .in img{
	transform:  scale(1.05);
}
/* ~S2 */
.s-2 > .inner{
	text-align: left;
}
.s-2 img{
	height: 100%;
	transform: translateX(-200vw) scale(1.05);
}
.s-2 .in img{
	transform: scale(1.05);
}
/* ~S3 */
.s-3 > .inner{
	text-align: right;
}
.s-3 img{
	height: 100%;
	transform: translateX(100vw) scale(1.05);
}
.s-3 .in img{
	transform: scale(1.05);
}
/* ~S4 */
.s-4 > .inner{
	text-align: right;
}
.s-4 img{
	width: 100%;
	position: absolute;
	bottom: 0; left: 0;
	transform: translateY(200vh) scale(1.05);
}
.s-4 .in img{
	transform: scale(1.05);
}
